<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAMDB</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>

<body>
<nav>
    {% if page > 1 %}
    <a href="{{ path('movies_popular') ~ '/' ~ (page-1) }}"><</a>
    {% endif %}
    <a href="{{ path('movies_popular') }}">Movies</a>
    {%  if page < maxPages %}
    <a href="{{ path('movies_popular') ~ '/' ~ (page+1) }}">></a>
    {% endif %}
    <a href="{{ path('movies_import') }}">Import</a>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    YAMDB - Gertjan Van den Keybus
</footer>
</body>
</html>